a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background: #F5F5F5;
  color: #424242;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

h1, h2 {
  font-weight: 400;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

header {
  grid-column: 1 / span 4;
  margin-top: 20px;
}
header ul {
  margin-top: 10px;
}
header li {
  border-left: 1px solid black;
  display: inline;
  font-size: 1.25em;
  font-style: italic;
  margin-left: 10px;
  padding-left: 10px;
}
header li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}
nav {
  grid-column: 1 / span 4;
  margin-top: 20px;
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
}
nav li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main {
  font-size: 1.25em;
  grid-column: 1 / span 4;
  line-height: 1.25em;
  margin-top: 20px;
}
main p {
  margin-top: 10px;
}
main p:first-of-type {
  margin-top: 0;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  grid-column: 1 / span 4;
  margin-top: 30px;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5px;
  width: 100%;
}
footer li {
  display: inline;
}
footer li a {
  color: #0288d1;
  text-decoration: none;
}
footer li span {
  margin-left: 2px;
}
