a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background: #20262e;
  color: #cfd0d2;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 300;
  line-height: 125%;
  margin: 7px 0;
}

a {
  color: #cfd0d2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.js {
  white-space: pre;
}

.boo { color: #7561ff }
.com { color: #4e6a87 }
.dec { color: #b896ed }
.key { color: #6ce890 }
.num { color: #ed6e55 }
.op  { color: #ef70c1 }
.str { color: #f5eea2 }
.var { color: #f8b068 }
