@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700;Open-Sans');

body {
  background: #424242;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0;
  width: 100%;
}
h1 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 0 40px;
}
h2 {
  border-bottom: 1px solid #999;
  margin: 10px 0 0;
  padding: 0 0 10px;
  text-align: right;
}
h3 {
  font-weight: 300;
  font-size: 1.25em;
  margin-bottom: 10px;
}
header h3 {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 40px 0 0;
}
a {
  color: #00C853;
  text-decoration: none;
}
a:hover, a:active {
  border-bottom: 1px dashed #00C853;
}
main {
  background: white;
  color: #616161;
  display: flex;
  flex-flow: column wrap;
  margin: 100px auto 0;
  padding: 20px 0 0;
  width: 100%;
}
header {
  align-items: center;
  background: linear-gradient(#2E7D32, #388E3C);
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
article {
  margin: 0 auto;
  max-width: 720px;
  position: relative;
  width: 100%;
}

article > * {
  margin-left: 40px;
  margin-right: 40px;
}
li ul {
  font-size: 0.9em;
  line-height: 175%;
  margin-bottom: 10px;
}
li li {
  margin-top: 5px;
}
footer {
  background: #424242;
  color: #999;
  margin-top: 20px;
  text-align: center;
}
footer a {
  border: none;
  color: #999;
}
footer a:hover {
  border-bottom: 1px dotted #999;
}

/* Begin breakpoint for mobile devices */
@media (max-width: 500px) {
  header {

  }
}
