/* main.css */

main {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem auto;
    max-width: 600px;
    transition: all var(--time) ease-in-out;
}

@media screen and (max-width: 640px) {
    main {
        margin: 1rem;
    }
}

main h1, main h2 {
    font-family: 'Roboto Slab';
    font-weight: 100;
}

main h1 {
    font-size: 4rem;
}

main h2 {
    font-size: 2rem;
    font-style: italic;
}